body {
    font-family: 'Montserrat', sans-serif;
    background-color: #cfbffa;
    background-position: 50% 50%;
}

h2 {
    text-align: center;
    color: rgb(0, 0, 0);
}

p {
    color: white;
    text-align: center;
    margin: 30px 0;
}

span {
    font-size: 2rem;
}

iframe {
    padding-bottom: 40px;
    margin: 0 10%;
}

.E-header {
    width: 210px;
    height: 110px;
}

.navbar,
.navbar-icons {
    display: flex;
    background-color: #a3d7df;
    flex-wrap: nowrap;
    z-index: 1;
}

.navbar::marker {
    color: #a3d7df;
}

.nav-link {
    font-size: 1.5rem;
    font-weight: 300;
    margin: 0 15px;
    transition: 400ms;
    font-weight: 300;
    color: rgb(0, 0, 0);
}

.nav-link:hover {
    color: #da78bc;
}

.nav-socials:hover {
    transform: scale(1.5);
}

.tog-button {
    background: none;
    color: white;
    font-size: 3rem; 
    line-height: 0.6rem;
    position: relative;
    bottom: 10px;
    border-style: none;
    padding-bottom: 15px;
}


@media (max-width: 1028px) {
    .navbar {
        text-align: center;
        display: list-item;
    }

    .nav-socials {
        margin: auto;
    }

    .EA-header {
        margin: auto;
    }

    body {
        background-position: top;
    }
    
}